body{
    align-items: center;
}
h1{
       align-items: center;
       margin-top: 4%;
}
h2{
    align-items: center;
    margin-top: 4%;
}
.checkbox{
    margin-right: 57%;
}
.check{
    display: flex;
    font-size: smaller;
    align-items: center;
    margin-left: 35%;
}
.check span{
    padding-top: 1.3%;
    margin-left: 19%;
}
.account span{
    color: #4285F4;
}
label h5{
    width: 10%;
    /* margin-left: 6%; */
}
.InputFirstName{
    width: 180px;
    height: 30px;
    margin-left: 81.5%;
    padding-left: 5px;
    border: none;
    border: 2px #D7727C solid;
    border-radius: 13px;
}
.InputLastName{
    width: 180px;
    height: 30px;
    margin-left: 93.7%;
    padding-left: 5px;
    border: none;
    border: 2px #D7727C solid;
    border-radius: 13px;
}
.names{
padding-left: 23.9%;}
.container{
    /* margin-left: 56%; */
    height: 30px;
    width: 400px;
    padding-left: 5px;
    border-color: #D7727C;
    border: none;
    border: 2px #D7727C solid;
    border-radius: 13px;
    }
.password{
    margin-top: 3%;
    width: 20px;
}
.email {
    margin-top: 3%;
    width: 20px;
}

.password h5{
    margin-bottom: 0.5%;
}
.confirm_password{
    margin-top: 3%;
    width: 20px;

}
.button{
    height: 33px;
    margin-top: 5%;
    width: 400px;
    background-color: #D7727C;
    height: 37px;
    border: none;
    border-radius: 50px;
    /* color: #FFFFFF; */
}
.names{
    display: flex;
}

.AllInputs{
    margin-left: 480px;

    margin-top: 2px;
}